name: Python Tests

on:
  push:
    branches: [ "main", "latest" ]
  pull_request:
    branches: [ "main", "latest" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo apt-get update && sudo apt-get install -y ffmpeg

    - name: Lint with ruff
      run: |
        ruff check .

    - name: Run tests with pytest
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)/src
        pytest
