name: Python Tests

on:
  push:
    branches: [ "main", "latest" ]
  pull_request:
    branches: [ "main", "latest" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        version: "latest"

    - name: Set up Python 3.12
      run: uv python install 3.12

    - name: Install dependencies
      run: uv sync --all-extras --dev

    - name: Lint with ruff
      run: uv run ruff check .

    - name: Run tests with pytest
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)/src
        uv run pytest